.disc-container {
  width: 100%;
  
}

.disc-container .disc-heading {
  padding-block: 1.2rem;

}

.disc-container .disc-heading h6 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-block: 2px;
  color: #232323;
}

.disc-container .disc-heading p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #9A9A9A;
}


.discounted-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 23px;
  width: 100%;

}

.discounted-card .card-items {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 34px;
  overflow: hidden;
}

.discounted-card .card-items .card-img {
  width: 100%;
  height: 200px;
  margin-bottom: 11px;

}

.discounted-card .card-items .card-img img {
  height: 100%;
  width: 100%;
  margin-bottom: 11px;
  object-fit: cover;

}

.discounted-card .card-items .item1 {
  display: flex;
  justify-content: space-between;
  padding-inline: 12px;
  margin-bottom: 10px;
}

.discounted-card .card-items .item1 p{
  color:#101828;
  font-size: 16px;
  font-weight: 600;
}

 .p-item{
  color:#101828;
  font-weight: 700;
  font-size: 18px;
}



.discounted-card .card-items .item2 {
  padding-inline: 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.discounted-card .card-items .item2 .stars {
  display: flex;
  align-items: center;
  gap: 4px;
}
.discounted-card .card-items .item2 .stars span{
  color: #1D2939;
  font-size: 14px;
font-weight: 500;
}
.discounted-card .card-items .item2 .icon {
  color: orangered;
  font-size: 13px;
  padding-inline: 0;

}

.discounted-card .card-items .btn-wrap{
padding-inline: 0.5rem;
}
.discounted-card .card-items .btn {
  width: 100%;
  height: 40px;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin-bottom: 11px;
  border: 2px solid var(--buttonColor);
  color: var(--buttonColor);
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.discounted-card .card-items .btn:hover{
  background: var(--buttonColor);
  color: #fff;
}


.card-items .item2 .price p{
  color: #8C8C8C;
  text-decoration: line-through;

}

.card-items .item2 .price p span{
  font-weight: 700;
  font-size: 17px;
  color: #8C8C8C;
 
}
  @media screen and (max-width: 768px) {
 .discounted-card{
  grid-template-columns: repeat(2, 1fr);
  }

  .disc-container .disc-heading {
    padding-block: 1rem;
  
  }

  .disc-container .disc-heading h6 {
    font-size: 23px;

  }

  .discounted-card .card-items .card-img {
    width: 100%;
    height: 200px;
    margin-bottom: 11px;
    object-fit: contain;
  }

  .discounted-card .card-items {
    margin-top: 20px;
  }
  

  
}

@media screen and (max-width: 420px) {
  .discounted-card{
   grid-template-columns: repeat(1, 1fr);
  }
 
 }