 .forgotpassword-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
 }
 
 
 .forgotpassword-wrapper .forgot-logo{
  width: 60px;
  height: 30px;
  object-fit: contain;
}

.forgotpassword-wrapper .forgotpassword-text h6{
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 10px;
}

.forgotpassword-wrapper .forgotpassword-text p {
font-size: 18px;
font-weight: 400;
line-height: 25.2px;
width: 420px;
margin-top: 20px;
}

.forgotpassword-wrapper .forgotpassword-text form{
  width: 100%;
}
.forgotpassword-wrapper .forgotpassword-text form input{
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
}

.forgotpassword-wrapper .forgotpassword-text .btn{
  width: 100%;
}

.forgotpassword-wrapper .back-to-login{
  text-align: center;
}
.forgotpassword-wrapper .forgotpassword-text p a{
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
  color: var(--buttonColorLight);
}

.forgotpassword-wrapper .forgotpassword-img{
margin-top: 30px;
margin-inline: 50px;

}

@media screen and (max-width: 768px) {
  .forgotpassword-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 20px;
    width: 100%;

   }

   
.forgotpassword-wrapper .forgotpassword-text h6{
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 10px;
}

.forgotpassword-wrapper .forgotpassword-text p {
  width: 100%;
  }
   
}





