.signupform-wrapper,
.loginform-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.signup-form-container,
.login-form-container {
  padding-top: 10px;

}

.signupform-wrapper .signup-form-container .form-logo,
.loginform-wrapper .login-form-container .form-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.signupform-wrapper .signup-form-container .form-logo img,
.loginform-wrapper .login-form-container .form-logo img {
  width: 100%;
  height: 100%;
}

.signup-form-container .form-text h6,
.login-form-container .form-text h6 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.signup-form-container .form-text p,
.login-form-container .form-text p {

  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.signup-form-container .form-card,
.login-form-container .form-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signup-form-container .form-card .form-group,
.login-form-container .form-card .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  margin-bottom: 8px;
}


.form-card .form-group .form-control {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  resize: none;
  padding-inline: 1rem;
  /* outline: none; */
}

.password {
  position: relative;
  display: flex;
}

.form-group .error-msg {
  font-size: 14px;
  color: red;
}

.password .icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form-group .error:focus {
  border: 1px solid red !important;
}

.form-card .form-group .form-control:focus {
  outline: 0;
  border: 1px solid var(--buttonColorLight);
}


.signup-form-container .checkbox-card,
.login-form-container .checkbox-card {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin-top: 8px;
}

.login-form-container .checkbox-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.login-form-container .checkbox-card label {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* .checkbox-card input[type = "checkbox"]{
  display: none;
} */

/* .checkbox-card input[type = "checkbox"]::before{
content: "";
display: inline-block;
width: 20px;
height: 20px;
border: 2px solid #ccc;
background-color: #700808;
border: 10px;
margin-right: 10px;
vertical-align: middle;
} */

/* .checkbox-card input[type = "checkbox"]:checked::before{
  background-color: #007bff;
  border-color: #007bff;
}
.checkbox-card label{
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
} */

.signup-form-container .form-card .form-btn,
.login-form-container .form-card .form-btn,
.google-outlook-btn .googlebtn,
.google-outlook-btn .outlookbtn {
  width: 100%;
  margin-bottom: 10px;
  height: 60px;
}

.signup-form-container .form-card .form-btn:hover,
.login-form-container .form-card .form-btn:hover {
  border: 2px solid var(--buttonColor);
}

.signup-form-container .form-acc,
.login-form-container .form-acc {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-acc p {
  font-size: 14px;
  padding-bottom: 10px;
}

.form-acc p a,
.checkbox-card span a {
  text-decoration: none;
  color: var(--buttonColorLight);
}

.signup-form-container .form-acc span,
.login-form-container .form-acc span {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  align-items: center;
}




.signup-form-container .form-acc span>div,
.login-form-container .form-acc span>div {
  width: 140px;
  background: var(--buttonColor);
  height: 2px;
}

.google-outlook-btn .googlebtn .g-btn-img,
.google-outlook-btn .outlookbtn .o-btn-img {
  width: 30px;
  height: 30px;
  object-fit: contain;

}

.google-outlook-btn .googlebtn,
.google-outlook-btn .outlookbtn {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
  height: 60px;
}

 

.signup-form-container .google-outlook-btn .outlookbtn,
.login-form-container .google-outlook-btn .outlookbtn {
  background-color: #fff;
  border: 2px solid var(--buttonColor);
  color: var(--buttonColor);
  height: 60px;
  margin-top: 20px;

}

.signup-form-container .google-outlook-btn .outlookbtn:hover,
.login-form-container .google-outlook-btn .outlookbtn:hover {
  background-color: var(--buttonColor);
  color: #fff;
}

.signupform-wrapper .vectorSection,
.loginform-wrapper .vectorSection {
  background-color: var(--backgroundColor);
}

.signupform-wrapper .vectorSection,
.loginform-wrapper .vectorSection {
  position: relative;

}

.signupform-wrapper .vectorSection img,
.loginform-wrapper .vectorSection img {
  width: 650px;
  height: 400px;
  object-fit: contain;
  opacity: 0px;
  position: absolute;
  top: 190px;
  right: 0;
  /* transform: translate(50% 50%); */

}


@media screen and (max-width: 768px) {

  .loginform-wrapper,
  .signupform-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .signupform-wrapper .vectorSection img,
  .loginform-wrapper .vectorSection img {
    width: 350px;
    object-fit: contain;
    opacity: 0px;
    top: 0;
    left: 10px;

  }

  .signupform-wrapper .vectorSection,
  .loginform-wrapper .vectorSection {
    background-color: var(--backgroundColor);
  }

}