.add-product__container{
  position: relative;
}

.modal-card {
  background: #fff;
  width: 620px;
  height: 292px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 16px 24px;
  cursor: pointer;;
}

.modal2-container .modal-card .modalcard-text{
  /* text-align: center; */
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.modal2-container .modal-card h6{
  font-size: 40px;
  color: #262626;
  text-align: center;
  font-weight: 800;
}

.modal2-container .modal-card  .closeBtn{
  background: transparent;
  border: none;
  position: absolute;
right: 35px;
top: 30px;
font-size: 20px;
}

.modal2-container .modal-card  .modalcard-text .btn{
width: 100%;
background: #03045E;
color: #fff;
margin-top: 20px;
}

.modal2-container .overlay {
  width: 100%;
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 71, 0.592);
}


@media screen and (max-width: 768px) { 
  .modal2-container {
    width: 100%;
  }

.modal2-container .modal-card {
  background: #fff;
  width: 100%;
  height: 292px;
  top: 20%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 16px 24px;
}

.modal2-container .overlay {
  width: 100%;
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 92%;
  background-color: rgba(70, 70, 71, 0.592);
}


}