.admin-user__wrapper {
  background-color: aliceblue;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-user__wrapper .admin-text-card {
  padding-block: 40px;
  margin-left: auto;
  margin-right: auto;
}

.admin-user__wrapper .admin-text-card h6 {

  font-size: 32px;
  font-weight: 700;
  line-height: 60px;
  color: #262626;

}

.admin-user-img {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}

.admin-user__wrapper .admin-user-img .adminImg {
  width: 350px;
  height: 349px;
}

.admin-user__wrapper .admin-user-img .userImg {
  width: 350px;
  height: 349px;
}

.admin-user__wrapper .admin-user-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.admin-user__wrapper .admin-user-text span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 400px;
  margin-block: 10px;
  color: #03045E;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}
