.paymentInfo-card {
  margin-top: 35px;
  width: 40%;
  height: 100%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding-bottom: 35px;
  padding-inline: 24px;
  border-radius: 10px;
}

.paymentInfo-card h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: #101928;
  padding-block: 20px;
  padding-inline: 24px;
}

.paymentInfo-card .payment-options p {

  font-size: 16px;
  font-weight: 700;
  color: #101928;
}

.paymentInfo-card .payment-options .payment-opt p {
  font-size: 16px;
  font-weight: 500;
  padding-block: 10px;
  color: #101928;

}

.payment-opt .radio-btn {
  display: flex;
  gap: 30px;
}

.paymentInfo-card .card-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding-inline: 24px;
}

.paymentInfo-card .card-info p {

  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  color: #101928;
  margin-bottom: 10px;
}

.paymentInfo-card .card-info  .form-card1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 24px;

}
.paymentInfo-card .card-info label {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  margin-bottom: 8px;

}

.paymentInfo-card .card-info .form-control{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid #D9D9D9;
  resize: none;
  padding-inline: 1rem;
  /* outline: none; */
  padding: 10px;
  background: transparent;
  color: #98A2B3;

}

