@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "./styles/contact.css";


:root {
  --navColor: #FFFFFF;
  --backgroundColor: #2D2E79;
  --buttonColor: #03045E;
  --buttonColorLight: #132bb3;
  --hover-btn: #ffff;
  --textHover: #2D2E79;
  --footer: #01011F;
  --paragraphColor: #262626;
  --headingColor: #262626;
  --headingFonts: DM Sans;
  --heroHeading: 56px;
  --headingSize: 32px;
  --paragraphFontSize: 20px;
  --testimonialPara: ##CDCDDF;
  --text-dark: #302e2e;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
  /* width: 1440px; */
}

.container {
  max-width: calc(100% - 190px);
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;
}

@media screen and (max-width:768px) {
  .container {
    max-width: 100%;
  }
}



.btn {
  color: #fff;
  background-color: var(--buttonColor);
  font-size: 17px;
  font-weight: 700;
  width: 125px;
  padding: 16px 24px;
  line-height: 22.4px;
  height: 54px;
  border: 1px none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  -webkit-border-raduis: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
}

.btn:hover {

  font-weight: 700;
  border: 2px solid #fff;
  background: #fff;
  color: var(--buttonColor);

}

/* styling for Navbar  */

/* .navbar-container{
  background-color: #2D2E79;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items:  center;
}

.navbar-links a{
  text-decoration: none;
  color:  white;
  margin-right: 1rem;
}

@media (max-width: 768px){
.navbar-container{
  flex-direction: column;
  align-items: flex-start;
}
} */
img {
  width: 100%;
  height: 100%;
}


/* styling  for navbar start here */


.navbar-logo>img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.navbar {

  background: var(--navColor);
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  transition: 0.3s all ease;
  z-index: 9;
  /* top: 0;
  left: 0;
  right: 0; */
}

.inner-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5.333px;
  width: 100%;
}


.navbar--items {
  display: flex;
  align-items: flex-start;
  list-style: none;
  gap: 42.667px;
  text-decoration: none;
}

.navbar--items>li>a {
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.navbar--items>li>a:hover {
  color: #0609aa;
  font-size: 18px;
  font-weight: 800;

}

.navbar-content {
  color: #595959;
  font-weight: 500;
  font-size: 17px;
  font-style: normal;
  line-height: 24px;
  cursor: pointer;
}

.navbar--active-content {
  color: #03045E;
  font-weight: 700;
  font-size: 17.5px;
}

.active {
  color: #03045E;
  font-weight: 700;
  font-size: 17.5px;
}

.menubtn,
.mob-btn {
  display: none;
}

.nav-btn .btn:hover {
  border: 3px solid #02096b;
  background: transparent;
  color: var(--buttonColor);
}

/* Navbar stying ends here */

/* STYLING FOR HERO PAGE */
.heroWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 133.33px 85.33px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background-color: var(--backgroundColor);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.333px;

}

.heroText h1 {
  font-size: var(--heroHeading);
  color: #ffff;
  margin-bottom: 10px;
  /* width: 600px; */

}

.heroText p {
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  width: 598px;
  height: 84px;
  color: #ffff;
}

.buttons {
  display: flex;
  gap: 20px;
}

.heroText .signup {
  border: 2px solid #fff;

}

.heroText .login {
  border: 2px solid #fff;
  background: #fff;
  color: var(--buttonColor);
}

.heroText .login:hover {
  border: 2px solid #fff;
  background: var(--buttonColor);
  color: #fff;
}

/* .heroText .signup:hover{
  border: 3px solid #02096b;
  background:  #066aed;
  color: #ffff;
} */

.heroImg {
  display: flex;
}

.heroImg>img {
  width: 100%;
  height: 100%;
}

/* styling for hero page ends here */


/* About us stylinf start here */

.p-top {
  text-align: center;
  padding-top: 50px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.aboutUsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 13px 5.33px;
}

.aboutUsWrapper h2 {
  font-size: 40px;
  line-height: 20px;
  margin: 20px;
  font-weight: 700;
  color: #262626;
}

.aboutUsWrapper p,
.offerText p {
  width: 472px;
  height: 84px;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  margin: auto;
  margin-bottom: 10px;
}

/* Aboutus styling ends here  */






/* styling for omy offer stops here */


/* styling for testimonial ( caurosel or swpiper) start here */

.Testimonialwrapper {
  background: var(--backgroundColor);
  padding: 14.33px 85.33px;
  margin-top: 4px;
  height: 100%;
  width: 100%;

}

.Testimonialwrapper h4 {
  color: #fff;
  line-height: 120px;
  font-weight: 700;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
}

.mySwiper {
  position: relative;
}

.carousel-image img {

  object-fit: cover;
  border-radius: 24px;
}

.carousel-image {
  border-radius: 24px;
  width: 340px;
  height: 340px;
  object-fit: cover;

}

.slide {
  width: 952px;
  height: 461px;
  display: flex;
  gap: 130px;
}

.slidetext {
  position: relative;
  width: 448px;
  height: 254px;
  left: 0;
}

.slidetext p {
  color: #CDCDDF;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 400;
  width: 448px;
  padding: 12px;
}

.quote-icon {
  color: #CDCDDF;
  position: absolute;
  width: 24px;
  height: 24px;
}


.quote-icon:nth-child(1) {
  color: #CDCDDF;
  position: absolute;
  top: 10px;
  left: -30px;
}

.right-icon {
  color: #CDCDDF;
  position: absolute;
  right: 50px;

}

.swiper-button-next:after {
  color: #CDCDDF;
  right: 400px;
}

.swiper-button-prev:after {
  color: #CDCDDF;
  left: 480px;
}



.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;

}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, );
  left: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  background: yellow;

}



/* styling for community starts here  */

/* .communityWraper {
  background-image: url(../public/frame\ people.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative;
  z-index: -1;
  color: red;
} */

/* .communityContent {
  position: relative;
  z-index: 1;
  padding: 14.33px 85.33px;
  top: 100px;
  left: 0;
  gap: 32px;
  height: 299px;
  width: 681px;
  text-align: left;

} */

/* .communityContent h3 {
  width: 681px;
  height: 213px;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.8px;
  color: #fff;
} */


/* .communityContent .buttons .btn {
  border: none;
} */

/* .communityBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #080bc755;
  background-image: url(/src/assets/frame\ people.jpg);
  background-position: center;
  background-size: cover;
  filter: blur(1px); 
} */

/* .communityBackground::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(40, 8, 168, 0.5), rgba(52, 44, 128, 0.5));
  z-index: 9;

} */

/* styling for community ends here  */



















@media screen and (max-width: 768px) {
  
  .navbar .navbar--items {
    display: none;
    position: absolute;
    width: 100%;
    top: 86px;
    background: #3058e9;
    height: calc(90vh - 67px);
    transition: top 0.3s ease-in-out;
    line-height: 1px;
    padding: 2px 10px;
    align-items: center;
  }
  

  .inner-navbar {
    padding-inline: 25px;  
  }

  .navbar .navbar--items a {
    transition: .3s;
    font-size: 20px;
    /* color: #03045E; */
    color: #fff;


  }

  .navbar .navbar--items a:hover {
    transition: .3s;
    font-size: 28px;
    color: #0748fa;
    font-weight: bold;
  }


  .navbar .nav-btn {
    display: none;
  }

  .menubtn,
  .mob-btn {
    display: block;
  }

  .navbar .navbar--items.show {
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    transition: 0.3s all ease;
    line-height: 70px;
    background: #031e80;
    width: 100%;
    color: #fff;
    justify-content: center;

    /* top: 60px; */
  }

  .navbar .btn {
    width: 190px;
    font-size: 20px;background-color: white;
    color: var(--buttonColor);

  }

  .navbar .btn:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
  }


  .Testimonialwrapper {
    background: var(--backgroundColor);
    padding: 14.33px 85.33px;
    margin-top: 4px;
    height: 60vh;
    width: 100%;

  }

  .Testimonialwrapper h4 {
    color: #fff;
    line-height: 100px;
    font-weight: 700;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
  }

  .slide {
    width: 100%;
    height: 461px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* padding: 20px 10px; */
    justify-content: center;
    align-items: center;
  }

  .slidetext {
    display: flex;
    position: relative;
    text-align: left;
    left: 0;
    columns: red;
  }

  .slidetext p {
    color: #CDCDDF;
    font-size: 24px;
    line-height: 20.8px;
    font-weight: 400;
    padding: 12px;
    width: 100%;
    text-align: left;

  }


  .right-icon {
    color: #CDCDDF;
    position: absolute;
    right: 30px;
    bottom: 40px;

  }

 
  
}




@media only screen and (max-width: 600px) {

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .heroWrapper {
    display: flex;
    flex-direction: column;
    padding: 133.33px 10px;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
  }

  .hero-content .buttons {
    margin-top: 40px;
  }

  .heroText h1 {
    font-size: 40px;
  }

  .heroText p {
    font-weight: 400px;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    height: 84px;
    color: #ffff;
  }

  .aboutUsWrapper {

    padding: 13px 10px;
  }

  .aboutUsWrapper p {
    width: 100%;
    height: 84px;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
  }


  /* .grid-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 100%;

  } */

  .Testimonialwrapper {
    background: var(--backgroundColor);
    padding: 14.33px 20px;
    margin-top: 4px;
    height: 70vh;
    width: 100%;

  }



  /* .footerWrapper {
    display: grid;
    grid-template-columns: repeat(3);
    height: 90vh;
    justify-content: center;
    width: 100%;
  }


  .footerLinks {
    height: 5px;
    padding-bottom: 0;
  }

  .footer-links li a:hover {
    color: #080bc7;
    font-weight: 700;
    font-size: 18px;
  }

  .footer-bar::after {
    left: 16px;
    justify-content: center;
    margin: auto;
  } */

}





@media screen and (max-width: 420px) {

  .heroWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;

  }

  .heroWrapper {
    display: flex;
    flex-direction: column;
    padding: 133.33px 10px;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
  }

  .heroWrapper>img {
    width: 100%;
  }

  .heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10.333px;
    width: 100%;
  }

  .heroText h1 {
    font-size: 22px;
    margin-right: 20px;
    font-weight: bold;

  }

  .heroText p {
    width: 100%;
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 28px;
    text-align: justify;

  }

  .buttons {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

  }

  .heroWrapper .heroText .btn {
    width: 250px;
    margin-top: 20px;
  }


  .aboutUsWrapper {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    width: 100%;
    padding: 10px 10px;

  }



  .aboutUsWrapper p,
  .offerText p {
    width: 100%;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
  }

  .offerText p {
    width: 100%;
    padding: 1px 10px;
  }

  .aboutus-text h2 {
    width: 100%;
    line-height: 26px;
    font-size: 25px;
    text-align: center;
    align-items: center;
  }

  .aboutImg {
    width: 100%;
    margin-top: 10px;

  }

  /* .grid-images {
    display: grid;
    gap: 100px;
    padding: 40px 2px;

  }

  .off-img {
    width: 100%
  }


  .offerText {
    margin-bottom: 10px;

  } */



  /* .grid-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 100%;

  } */

  .Testimonialwrapper {
    background: var(--backgroundColor);
    padding: 9.33px 30.33px;
    margin-top: 4px;
    height: 100%;
    width: 100%;


  }


  .slide {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* padding: 20px 10px; */
    justify-content: center;
    align-items: center;
  }

  .slidetext {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .slidetext p {
    color: #CDCDDF;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    width: 100%;
    padding: 1px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40PX;
  }

  .quote-icon {
    position: absolute;
    width: 24px;
    height: 24px;
  }

  .quote-icon:nth-child(1) {
    color: hsl(58, 95%, 49%);
    position: absolute;
    top: -20px;
    left: -5px;
  }

  .right-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: hsl(58, 95%, 49%);

  }


 
/* 
  .communityContent {
    position: relative;
    z-index: 1;
    padding: 0 10px 10px 20px;
    top: 100px;
    left: 0;
    gap: 30px;
    width: 100%;
    text-align: center;
    justify-content: center;
  } */

  
  /* .footerWrapper {
    width: 100%;
  }



  .footer-bar::after {
    left: 10px;

  } */
/* 
  .footerWrapper {
    display: grid;
    grid-template-columns: repeat(3);
    height: 90vh;
    justify-content: center;
  }

  .footer-col {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .footerLinks {
    margin-top: 1px;
  }

  .footer-col {
    color: #fff;
    font-weight: 300;
    size: 18px;
    line-height: 10px;
    padding: 9px 3.33px;

  } */

  /* .footer-col h6 {
    font-size: 20px;
    line-height: 28.8px;
    font-weight: 700;
    align-items: center;
    margin-bottom: 10px;
  } */

  /* .footerLinks {
    height: 10px;
    padding-bottom: 0;
  } */

  /* .footer-links li a:hover {
    color: #080bc7;
    font-weight: 700;
    font-size: 18px;
  } */



}